.container {
	margin: auto 200px;
	color: blueviolet;
	font-family: Georgia, "Times New Roman", Times, serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}

p {
	font-style: italic;
	font-size: 30px;
}

hr {
	width: 300px;

	color: blueviolet;
}
